.container {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2a2a2a;
  position: relative;
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  background-color: thistle;
}
.box:nth-child(2) {
  right: 0;
  background-color: violet;
}

.box:nth-child(3) {
  left: 100%;
  top: 75%;
  transform: translateX(-100px);
  background-color: tomato;
}

.box:nth-child(4) {
  left: 0;
  top: 100%;
  transform: translateY(-100px);

  background-color: yellowgreen;
}
