.img {
  height: 100vh;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/task-03-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
