.red {
  background-color: tomato;
  height: 150px;
  margin: 5px;
}

.green {
  background-color: green;
  height: 150px;
  margin: 5px;
}

.blue {
  background-color: aqua;
  height: 150px;
  margin: 5px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .green {
    flex-basis: calc(40% - 20px);
    height: 300px;
  }

  .blue {
    flex-basis: 60%;
    height: 300px;
  }
}
